<div class="row mb-4">
    <div class="col-md-4">
        <h5 class="text-primary" @onclick="() => SeeJobDetail(JobPosting.ID)">@JobPosting.JobTitle</h5>
        <h1 class="fs-6">@JobPosting.Department</h1>
        <h1 class="fs-6 text-muted">@JobPosting.CreatedAt.ToShortDateString()</h1>
    </div>
    <div class="col-md-4">
        <h1 class="fs-6">
            @JobPosting.Location
        </h1>
    </div>
    <div class="col-md-1"><i class="far fa-star text-primary"></i></div>
    <div class="col-md-1"><i class="fas fa-plus"></i></div>
</div>
<hr />
@code {
    [Parameter] public JobPosting JobPosting { get; set; }

    private void SeeJobDetail(int id)
    {
        Console.WriteLine($"Job ID {id} is clicked");
    }

}
